
/* -------------------------------FONTS----------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/* ------------------------------VARIABLES---------------------------------------------- */

:root{
    /* COLORS */
    --principalColor: hsl(0, 0%, 97%);
    --blackRgb: rgba(0, 0, 0, .2);
    --shadowRgb: rgba(0, 0, 0, .6);
    --warningRGBA:rgba(255, 193, 5, .5);
    --warning: hsl(45, 100%, 51%);
    --danger: hsl(354, 70%, 54%);
}

/* ----------------------------RESETS---------------------------------------------- */

a{
  letter-spacing: 2px;
}

a:hover{
  box-shadow: 1px 1px 3px var(--warning) inset, -1px -1px 3px var(--warning) inset;
  transition: all .5s;
  border-radius: 3px;
  border: solid 1px var(--warning);
}

/* ------------------------------STYLES---------------------------------------------- */

body{
  background-color: var(--principalColor);
}

main{
  max-width: 1200px;
}

/* NAV */
nav a{
  display: block;
  width: 120px ;
  text-align: center;
}

#brandIcon{
   min-width: 130px;
   max-width: 200px;
}

/* HEADER */
h1{
    z-index: 1;
    background-color: var(--blackRgb);
    height: 5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800; 
    text-shadow: 2px 2px 5px var(--shadowRgb), -2px -2px 5px var(--shadowRgb);
}

/* SERVICIOS SECTION */
#divition{
  height: auto;
  min-height: 150px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
}

#divition h2{
  text-shadow: 1px 1px 4px var(--shadowRgb);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
}

#galery img{
  transition: all 1s;
}

#galery img:hover{
  box-shadow: 1px 1px 5px var(--shadowRgb);
  transform: scale(1.05);
}

/* CARD SECTION */
#cardSection article:hover{
  box-shadow: 2px 2px 7px var(--shadowRgb);
  transform: translateY(-3px);
}

/* CONSTACT SECTION */

#contactImg{
  width: 100%;
  max-width: 50%;
}

#contactImg img {
  max-height: 580px;
  border-radius: 5px;
}

#contact input:focus,
#contact textarea:focus{
  border: solid 2px var(--warning);
}

input:focus, 
input.form-control:focus,
textarea.form-control:focus {
  box-shadow: none;
}

#contact small{
  font-size: .5rem;
}



/* WHATSAPP BTN */
#wapp{
  width: 35px;
  height: 35px;
  border-radius: 35px;
  position: fixed;
  top: 90vh;
  right: 20px;
  z-index: 10;
  transition: all .5s;
}

#wapp:hover{
  box-shadow: 1px 1px 3px var(--shadowRgb);
  width: 38px;
  height: 38px;
  border-radius: 38px;
}

/* FOOTER */
.contacto{
  min-width: 300px;
}

iframe{
  width: 100vw;
}

#wapp a:hover{
  border: none;
  box-shadow: none;
}


textarea{
  resize: none;
}



/* ----------------------------------BOOTSTRAP VARIABLES ---------------------------------------- */

.form-check-input:checked {
  background-color: var(--warning);
  border-color: var(--warning);
}

/* --------------------------------------CSS CLASSES-------------------------------------------- */

.back{
  background-color: var(--warningRGBA);
}


/* --------------------------------------JS CLASSES--------------------------------------------- */

.activeLink{
  font-weight: bold;
  color: black!important;
  background-color: var(--warning);
  border-radius: 3px;
}

.red{
  color: var(--danger) ;
}

.fsize{
 font-size: .8rem;
}

.bg-input{
  background-color: hsl(0, 0%, 100%)!important;
}